[Unit]
Description=Clock Display Application
After=graphical.target

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin/spotify-player-pi-py
Environment="DISPLAY=:0"
ExecStart=/usr/bin/python3 /home/admin/spotify-player-pi-py/spotify_player.py
Restart=always
RestartSec=10

[Install]
WantedBy=graphical.target
